<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519797877329-i66feugudehuiddqmnueo0m9bs8uf24t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519797877329-i66feugudehuiddqmnueo0m9bs8uf24t</string>
	<key>API_KEY</key>
	<string>AIzaSyACt2ZPzXXnsz_t9q_F7rZwmagEIKHkEI4</string>
	<key>GCM_SENDER_ID</key>
	<string>519797877329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.facer.quickly.Orange.browser</string>
	<key>PROJECT_ID</key>
	<string>orange-browser-3c582</string>
	<key>STORAGE_BUCKET</key>
	<string>orange-browser-3c582.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519797877329:ios:f3918e42d04f87f548a670</string>
</dict>
</plist>